/* Colors */
/* Animations */
/* */
/* loader */
.loader {
  position: fixed;
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: -1;
  animation: loader 5000ms;
  opacity: 0;
}
.loader .loader__title {
  color: white;
  font-size: 60px;
  font-family: shrikhand;
  animation: loader-title 3000ms infinite;
}
.loader .loader__title--1 {
  animation-delay: 375ms;
}
.loader .loader__title--2 {
  animation-delay: 750ms;
}
.loader .loader__title--3 {
  animation-delay: 1125ms;
}
.loader .loader__title--4 {
  animation-delay: 1500ms;
}
.loader .loader__title--5 {
  animation-delay: 1875ms;
}
.loader .loader__title--6 {
  animation-delay: 2250ms;
}
.loader .loader__title--7 {
  animation-delay: 2625ms;
}
.loader .loader__title--8 {
  animation-delay: 3000ms;
}

@keyframes loader {
  0% {
    opacity: 1;
    z-index: 100;
  }
  90% {
    opacity: 1;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loader-title {
  0% {
    color: #9356dc;
  }
  50% {
    color: #ff79da;
  }
  100% {
    color: #9356dc;
  }
}
/* */
.navbar {
  flex-direction: column;
  align-items: center;
}
.navbar .navbar__logo {
  width: 162px;
  padding: 0px 19px 0px 16px;
  margin: 14px 89px 13px 89px;
}

.navbar__search {
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  box-shadow: inset 0px 2px 3px #cccbcb;
  width: 100%;
  padding: 20px 0px 20px 0px;
  color: #353535;
}
.navbar__search .navbar__search--input {
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  padding: 0px 0px 0px 17px;
  width: 115px;
}

.cta {
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 39px 0px 57px 0px;
  background-color: #f6f6f6;
}
.cta .cta__title {
  width: 275px;
  height: 68px;
}

.cta__subtitle {
  color: #353535;
  font-size: 18px;
  font-weight: 300;
  width: 330px;
  height: 46px;
  padding-bottom: 27px;
}

.cta__btn--index {
  padding: 13px 18.75px;
}

.intro {
  padding: 48px 0px 68px 0px;
}
.intro .intro__title {
  padding: 0px 0px 26px 20px;
}

.intro__cards {
  flex-direction: column;
}
.intro__cards .intro__cards--content {
  z-index: 0;
  cursor: pointer;
  border: none;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 322px;
  padding: 28.59px 0px 28.12px 0px;
  margin: 12.5px;
  border-radius: 20px;
  background: var(--background, #f6f6f6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.intro__cards .intro__cards--content .intro__cards--txt {
  font-weight: 500;
}

.intro__cards--content:hover {
  opacity: 0.8;
  transition: 250ms;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.intro__ico {
  padding-right: 23px;
  color: #7e7e7e;
}
.intro__ico--purple {
  color: #9356dc;
}

.intro__cards--number {
  z-index: 1;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: white;
  font-weight: 500;
  background-color: #9356dc;
  border-radius: 50px;
  width: 24px;
  min-width: 24px;
  height: 24px;
  position: relative;
  top: 62px;
  right: 160px;
}

.restaurants {
  background: var(--background, #f6f6f6);
  padding: 54px 0px 66px 0px;
}
.restaurants .restaurants__content {
  flex-direction: column;
}

.restaurants__title {
  padding: 0px 0px 8px 20px;
}

.cards {
  justify-content: center;
  padding-top: 18px;
}
.cards .restaurants__cards {
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  width: 340px;
  height: 261px;
}
.cards .restaurants__cards img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  object-position: 0% 62%;
  height: 174px;
  width: 100%;
}

.cards__img {
  position: relative;
}
.cards__img .top-right {
  position: absolute;
  top: 13px;
  right: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  background-color: #99e2d0;
  padding: 7px 9.63px 6px 9px;
  border-radius: 2px;
}

.restaurants__cards--title {
  padding: 16px 0px 5px 13px;
}

.restaurants__cards--location {
  padding: 0px 0px 12px 13px;
  font-weight: 300;
}

.like__index {
  position: relative;
  bottom: 55px;
  left: 290px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  h1 {
    font-size: 30px;
  }
  .cta {
    padding: 30px 0px 30px 0px;
  }
  .cta .cta__title {
    min-width: max-content;
  }
  .restaurants__cards {
    min-width: 490px;
  }
  .restaurants__cards img {
    object-position: 0% 59% !important;
  }
  .like__index {
    position: relative;
    left: 440px;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  h1 {
    font-size: 40px;
  }
  .cta__subtitle {
    min-width: max-content;
  }
  .intro {
    padding: 50px 0px 50px 0px;
  }
  .intro .intro__title {
    padding: 0px 0px 25px 150px;
  }
  .intro__cards {
    flex-direction: row;
    justify-content: center;
  }
  .intro__cards .intro__cards--content {
    justify-content: flex-start;
    max-width: 322px;
  }
  .intro__ico {
    padding-left: 35px;
  }
  .intro__cards--number {
    top: 0px;
    right: 0px;
    left: 25px;
  }
  .restaurants {
    padding: 30px 0px 0px 0px;
  }
  .restaurants .restaurants__content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .restaurants__title {
    padding: 0px 0px 28px 150px;
  }
  .cards {
    padding-top: 0px;
    padding-bottom: 30px;
  }
}
.navbar__restaurant {
  z-index: 2;
  position: absolute;
  background-color: white;
  flex-direction: row;
  max-width: 1440px;
  width: 100%;
}
.navbar__restaurant .navbar__icon {
  font-size: 30px;
  align-self: center;
  position: relative;
  left: 17px;
}

.navbar__img {
  z-index: 1;
  position: absolute;
  object-fit: cover;
  height: 275px;
  width: 100%;
  max-width: 1440px;
  object-position: 0% 0%;
}

.content {
  z-index: 3;
  position: relative;
  top: 250px;
}

.restaurant .intro__restaurant {
  align-items: baseline;
  background-color: #f6f6f6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-bottom: 40px;
}
.restaurant .intro__restaurant--title {
  font-family: Shrikhand;
  font-size: 28px;
  padding: 17px 20px 0px 17px;
}

.cta__restaurant {
  background-color: #f6f6f6;
  justify-content: center;
  padding-bottom: 40px;
}
.cta__restaurant .cta__btn--restaurant {
  padding: 16px 48px 15px 49px;
}

.menu__details {
  background-color: #f6f6f6;
  padding-bottom: 35px;
}
.menu__details .menu__title {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 3px;
  margin: 0px 0px 9px 17px;
  width: 40px;
  border-bottom: 3px solid #99e2d0;
}

.menu__cards {
  opacity: 0;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 17px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  animation: fadein 1500ms forwards;
}
.menu__cards--1 {
  animation-delay: 166.6666666667ms;
}
.menu__cards--2 {
  animation-delay: 333.3333333333ms;
}
.menu__cards--3 {
  animation-delay: 500ms;
}
.menu__cards--4 {
  animation-delay: 666.6666666667ms;
}
.menu__cards--5 {
  animation-delay: 833.3333333333ms;
}
.menu__cards--6 {
  animation-delay: 1000ms;
}
.menu__cards--7 {
  animation-delay: 1166.6666666667ms;
}
.menu__cards--8 {
  animation-delay: 1333.3333333333ms;
}
.menu__cards--9 {
  animation-delay: 1500ms;
}
.menu__cards .menu__cards--title {
  font-size: 18px;
  padding-bottom: 5px;
  font-weight: 500;
}

.menu__overlay {
  width: auto;
  position: relative;
  z-index: 1;
  text-overflow: ellipsis;
}
.menu__overlay .menu__overlay--effect {
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 100%;
  right: -80%;
  top: 0;
  border-radius: 15px;
  background-color: #99e2d0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: all 0.5s linear;
}

.menu__overlay:hover .menu__overlay--effect {
  width: 100%;
  left: 0;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
.menu__cards--content {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 300;
}
.menu__cards--content .menu__cards--content-txt {
  justify-content: space-between;
}
.menu__cards--content .menu__cards--content-txt .menu__cards--content-price {
  font-weight: 700;
}

@media only screen and (min-width: 600px) {
  /* For tablet: */
  .navbar__img {
    object-position: 0% 55%;
    height: 375px;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .navbar__restaurant {
    justify-content: center;
  }
  .navbar__restaurant .navbar__icon {
    position: absolute;
    justify-content: left;
  }
  .intro__restaurant {
    justify-content: center;
  }
  .content {
    top: 340px;
  }
  .content .main__content {
    max-width: 1055px;
    margin: auto;
  }
  .menu__details {
    padding: 0px 193px 35px 193px;
  }
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
}

a:link,
a:visited,
a:active {
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.flex {
  display: flex;
}

.footer {
  z-index: 3;
  padding: 22px 0px 22px 25px;
  flex-direction: column;
  background: #353535;
  color: white;
  font-weight: 400;
}
.footer .footer__logo {
  height: 27px;
  width: 137px;
  padding-bottom: 9px;
}
.footer .footer__logo path {
  fill: white;
}

.footer__link {
  padding-top: 7px;
}
.footer__link .footer__icon {
  font-size: 13px;
  padding-top: 3px;
}

.fa-utensils {
  padding-right: 11px;
}

.fa-handshake-angle {
  padding-right: 6px;
}

/* Animations */
/* Animation 1 BTN au survol */
.btn {
  cursor: pointer;
  border-radius: 25px;
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 100%);
  border: none;
  position: relative;
  z-index: 1;
  color: white;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.btn:hover::after {
  opacity: 1;
  border-radius: 25px;
}
.btn::after {
  content: "";
  border-radius: 25px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(356deg, #9e67e0 0%, #ff8de0 100%);
  box-shadow: 0px 4px 10px 0px rgba(1, 1, 1, 0.25);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

/* Animation 2 "j'aime" au clic */
.like svg {
  cursor: pointer;
  stroke: #000000;
  fill: none;
}
.like svg:hover > path {
  fill: url(#mygradient);
  stroke: #000000;
  animation: progress-like 1000ms forwards;
}

@keyframes progress-like {
  0% {
    fill-opacity: 0;
    stroke-opacity: 1;
  }
  100% {
    fill-opacity: 1;
    stroke-opacity: 0;
  }
}
/* */
@media only screen and (min-width: 600px) {
  /* For tablets: */
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .footer {
    padding: 22px 50px 22px 25px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .footer .footer__logo {
    padding-left: 16px;
    order: 2;
  }
  .footer__link {
    padding-right: 11px;
  }
  .media {
    padding-right: 60px;
  }
}/*# sourceMappingURL=styles.css.map */