//Header//
.navbar {
    flex-direction: column;
    align-items: center;
    .navbar__logo {
        width: 162px;
        padding: 0px 19px 0px 16px;
        margin: 14px 89px 13px 89px;
  }
}
.navbar__search {
    justify-content: center;
    align-items: center;
    background:#EAEAEA;
    box-shadow: inset 0px 2px 3px #cccbcb ;
    width: 100%;
    padding: 20px 0px 20px 0px;
    color: $text-color-and-footer;
    .navbar__search--input {
        border: none;
        background: none;
        outline: none;
        font-size: 16px;
        font-weight: 500;
        padding: 0px 0px 0px 17px;
        width: 115px;
  }
}
.cta {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 39px 0px 57px 0px;
    background-color: #F6F6F6;
    .cta__title{
        width: 275px;
        height: 68px;   
    }
}
.cta__subtitle {
    color:$text-color-and-footer;
    font-size: 18px;
    width: 330px;
    height: 46px;
    padding-bottom: 27px;
}
.cta__btn {
    padding: 13px 18.75px ;
}
.intro {
    padding: 48px 0px 68px 0px;
    flex-direction: column;
    .intro__title{
        padding: 0px 0px 26px 20px;
    }
}
.intro__cards{
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 322px;
    padding: 28.59px 0px 28.12px 0px;
    margin: 12.5px;
    border-radius: 20px;
    background: var(--background, #F6F6F6);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    .introcards__txt{
        font-weight: 500;
    }
}
.introcards__ico {
    padding-right: 23px;
    color: #7E7E7E;
    &--purple {
        color: $primary-color;
    }
}
.introcards__number {
    justify-content: center;
    align-self: center;
    color: white;
    font-weight: 500;
    background-color: $primary-color;
    border-radius: 50px;
    width: 24px; min-width: 24px;
    height: 24px;
    position: relative;
    top: 62px; right: 160px;
}
//Main//
.restaurants {
    flex-direction: column;
    background: var(--background, #F6F6F6);
    padding: 54px 0px 66px 0px;
    .restaurants__title {
        padding: 0px 0px 8px 20px;
    }
}
.cards {
    justify-content: center;
    padding-top: 18px;
    .restaurants__cards {
        flex-direction: column;
        background-color: white;
        border-radius: 15px;
        width:340px;
        height: 261px;
        & img {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            object-fit: cover;
            object-position: 0% 62%;
            height: 174px;
            width: 100%;  
        }           
    }       
}   
.cards__img{
    position: relative;
    .top-right {
        position: absolute;
        top: 13px;
        right: 12px;
        font-size: 14px;
        font-weight: 500;
        color: #008766;
        background-color: #99E2D0;
        padding: 7px 9.63px 6px 9px;
        border-radius: 2px;
  }
}
  
.restaurants__cards--title {
    padding: 16px 0px 5px 13px;
    
}
.restaurants__cards--location {
    padding: 0px 0px 12px 13px;
}



