.navbar__restaurant {
  z-index: 2;
  position: absolute;
  background-color: white;
  flex-direction: row;
  max-width: 1440px;
  width: 100%;
  .navbar__icon {
    color: #000;
    font-size: 30px;
    align-self: center;
    position: relative;
    left: 17px;
  }
}
.navbar__img {
  z-index: 1;
  position: absolute;
  object-fit: cover;
  height: 275px;
  width: 100%;
  max-width: 1440px;
  object-position: 0% 0%;
}

.content {
  z-index: 3;
  position: relative;
  top: 250px;
}

.restaurant {
  .intro__restaurant {
    align-items: baseline;
    background-color: $background-color-restaurant;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-bottom: 40px;
    padding-top: 20px;
    &--title {
      font-family: Shrikhand;
      font-size: 28px;
      padding-left: 17px;
    }
  }
}
.like__restaurant {
  @include center;
  align-self: center;
  padding-left: 17px;
}

.menu__details {
  background-color: $background-color-restaurant;
  padding: 0px 15px 35px 15px;
  .menu__title {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 3px;
    margin: 0px 0px 9px 17px;
    width: 40px;
    border-bottom: 3px solid $third-color;
  }
}

.menu__cards {
  opacity: 0;
  flex-direction: column;
  margin-bottom: 17px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  animation: fadein $anim-dur-3 forwards;
  @for $i from 1 through $num-plats {
    &--#{$i} {
      animation-delay: $anim-delay-2 * $i;
    }
  }
  .menu__cards--content-title {
    font-size: 18px;
    padding: 15px 15px 5px 15px;
    font-weight: 500;
  }
}
.menu__cards--content {
  white-space: nowrap;
  font-size: 15px;
  font-weight: 300;
  .menu__cards--content-txt {
    padding: 0px 15px 15px 15px;
    justify-content: space-between;
    .menu__cards--content-price {
      font-weight: 700;
    }
  }
}
.menu__overlay {
  cursor: pointer;
  width: auto;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  .menu__overlay--effect {
    @include center;
    bottom: 0;
    left: 100%;
    right: 0;
    top: 0;
    width: 0;
    height: 74px;
    position: absolute;
    border-radius: 0px 15px 15px 0px;
    background-color: $third-color;
    .check {
      color: white;
      font-size: 24px;
    }
  }
}
.menu__overlay:hover {
  .menu__overlay--effect {
    width: 59px;
    animation: slide-left 600ms ease forwards;
  }
}
.menu__overlay--content:hover {
  animation: slide-left-2 600ms ease forwards;
}

.cta__restaurant {
  background-color: $background-color-restaurant;
  justify-content: center;
  padding-bottom: 40px;
  .cta__btn--restaurant {
    padding: 16px 48px 15px 49px;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablet: */
  .navbar__img {
    object-position: 0% 55%;
    height: 375px;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .navbar__restaurant {
    justify-content: center;
    .navbar__icon {
      position: absolute;
      justify-content: left;
    }
  }
  .intro__restaurant {
    justify-content: center;
  }
  .content {
    top: 340px;
    .main__content {
      max-width: 1055px;
      margin: auto;
    }
  }

  .menu__details {
    padding: 0px 193px 35px 193px;
  }
}
